* {
    z-index: 1;
    font-family: "Poiret One", cursive;
}

body {
    background-image: url("brickwall.jpg");
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.heading {
    font-size: 40px;
    letter-spacing: 3px;
}

.inputField {
    width: 200px;
    height: 30px;
    font-size: 15px;
}

button {
    cursor: pointer;
}

p {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}

.card {
    z-index: 100;
    border: 1px solid black;
    width: 470px;
    border-radius: 5%;
    background: none;
    margin-top: 15px;
}

.image {
    padding: 10px;
    height: 400px;
    width: 450px;
}
