* {
    z-index: 1;
    font-family: "Poiret One", cursive;
}

body {
    background-image: url("brickwall.jpg");
}

.largeImage {
    height: 600px;
    width: 800px;
    z-index: 100;
    border: 3px solid grey;
}

#image {
    width: 500px;
}

#div {
    /* position: relative;
    background-color: azure;
    z-index: 100; */

    background-color: #ffffffc7;
    position: absolute;
    overflow: scroll;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main {
    width: 100%;
    /* padding-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.uploadForm {
    z-index: 10000;
    margin-right: 50px;
    margin-bottom: 50px;
}

.X {
    cursor: pointer;
    font-size: 40px;
    font-weight: bolder;
}

.heading {
    font-size: 40px;
    letter-spacing: 3px;
}

.inputField {
    width: 200px;
    height: 30px;
    font-size: 15px;
}

button {
    cursor: pointer;
}

p {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}

.card {
    overflow: hidden;
    transform: rotate(30deg);
    z-index: 1;
    border: 1px solid #847577;
    width: 370px;
    /* border-radius: 5%; */
    /* background: #fbfbf2; */
    background: none;
    margin-top: 50px;
    margin-left: -10px;
}

.image {
    border: 2px solid #847577;
    transform: rotate(-30deg);
    z-index: 1;
    padding: 10px;
    height: 300px;
    width: 350px;
}

.moreButton {
    font-size: 20px;
    margin: 20px;
    width: 300px;
    height: 30px;
}

.commentsField {
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin-left: 20px;
}

.name {
    height: 30px;
    font-size: 20px;
}

.noMoreImages {
    font-size: 20px;
    margin: 20px;
    width: 300px;
    height: 30px;
    background-color: #ffffff36;
}

.delete {
    cursor: pointer;
    height: 50px;
    width: 50px;
}
